@import "variables";
@import "donate";
@import "header";
@import "footer";

$dark:#38434c;

body {
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  background-color: #38434c;
  color:white;

}


/*---------- button -------*/


#arrow-down {
  background-color: rgba(225, 225, 225, 0.5);
  cursor:pointer;
  text-align: center;
  @media(max-width:800px){
    display:none;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}



/*---------- styles -------*/
#header {
  height:50vh;
  display:flex;
  @media (max-width:825px) {
    margin-top:50px;
    height:auto;
    height:max-content;
  }

  h1 {
    width:55%;
    margin:auto;
    font-size:40pt;
    @media (max-width:825px) {
      width:90%;
      font-size:40px;
    }
  }
}





main {
  width:90%;
  margin:auto;
  @media (max-width:825px) {
    width:100%
  }

  h1, h2, p {
    width:60%;
    @media (max-width:825px) {
      width:90%
    }
  }

  p {
    line-height: 1.6;
    font-size:18px;
    margin:20px auto;
  }

  h1, h2 {
    margin: 50px auto 20px auto;
  }

  .input-group {
    line-height: 2;
    width:60%;
    margin:20px auto;
    @media (max-width:825px) {
      width:90%
    }
  }

  .small {
    width:60%;
    margin:50px auto;
    @media (max-width:825px) {
      width:90%
    }


    img {
      width:100%;
      //margin:auto;
    }
  }

  .big {
    width:80%;
    margin:50px auto;
    @media (max-width:825px) {
      width:90%
    }

    img {
      width:100%;
      //margin:auto;
    }
  }

  #myTable_wrapper {
    color:white !important;
    width:60%;
    margin:50px auto;
    @media (max-width:825px) {
      width:90%
    }

    label {
      color:white;
    }

    .dataTables_wrapper .dataTables_paginate, .dataTables_info {
      color:white;
    }

    .paginate_button.current {
      color:$dark !important;
    }



    //table {
    //  width:100%;
    //}

    #myTable_filter {
      margin-top:10px;
    }


    table, thead, tbody, tr, th {
      background-color: #38434c;
      color:white;
    }

    table tr th {
      padding: 8px 10px;
      @media(max-width:760px) and (orientation:portrait) {
        width:90%
      }
    }

    table tr th {
      text-align:left;
      @media(max-width:760px) and (orientation:portrait) {
        text-align:left;
      }
      @media(max-width:760px) and (orientation:landscape) {
        text-align:left;
      }
    }

    table tr th:nth-child(3) {
      text-align:center;
      @media(max-width:760px) and (orientation:portrait) {
        text-align:left;
      }
    }

    table tr td:nth-child(3) {
      text-align:center;
      @media(max-width:760px) and (orientation:portrait) {
        text-align:left;
      }
    }

    table, thead, tbody, th, td, tr {
      @media(max-width:760px) and (orientation:portrait) {
        max-width:100%;
        display: block;
      }
    }

    table > tbody > tr {
      @media(max-width:760px) and (orientation:portrait) {
        border-bottom: 1px solid black;
      }
    }

    table > thead > tr > th {
      @media(max-width:760px) and (orientation:portrait) {
        border-bottom: 3px solid black;
        font-weight: 600;
      }
    }


  }
}

.note {
  width:50%;
  font-style:italic;
  text-align: right;
  margin-bottom:100px;
}

/* scatterplot */

#chartContainer {
  width: 80%;
  margin-left:10%;
  @media(max-width:825px) and (orientation:portrait){
    width: 100%;
    margin: 0 auto;
  }
}

#chart {
  width: 100%;
  height: 100vh;

  //position: absolute;
}

.dot {
  cursor:pointer;
  outline:none;
  //opacity:0.5;
  transitions: all 2s;
}

.label-background {
  font-weight: normal;
  stroke-width:1px;
  stroke:$dark;
  pointer-events:none;
  stroke-linejoin: round;
}

.label {
  font-weight: bold;
  //stroke-width:0.5px;
  //stroke:white;
  pointer-events:none;

}

#filter {
  padding:6px;
  font-size:15px;
  color:grey;
  //
  //box-shadow: none;
  //border-style:none;
  //border-color: orange;
  //border-bottom:1px;
  //text-shadow:none;
  //border-image: none;

}

.axis {
  fill:white;
}



